isodate==0.6.0
#owlrl==5.2.0
git+https://github.com/RDFLib/OWL-RL.git@471d1dfe8f6 # because of issue https://github.com/RDFLib/OWL-RL/issues/29, use git directly until it's released.
pyparsing==2.3.1
rdflib==4.2.2
rdflib-jsonld==0.4.0
six==1.12.0
pytest
tqdm
pyshacl
docker
brickschema
black
pre-commit
flake8
semver
